<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://use.hugeicons.com/font/icons.css" />
    <script defer src="/scripts/scripts.js"></script>
    <title>Admin Page</title>
</head>

<body>
    <%
        const toDateInput = (d) => d ? new Date(d).toISOString().slice(0, 10) : "";
    %>
        <section class="flex flex-col md:flex-row items-start w-full">
            <aside
                class="w-full md:w-[20%] md:min-h-screen p-5 bg-[#fafafa] border-b md:border-b-0 md:border-r border-[#d3d2d2]">
                <div class="flex items-center gap-3">
                    <i class="hgi text-5xl text-[#4d53ff] hgi-stroke hgi-rounded hgi-airplane-01"></i>
                    <h3 class="text-2xl font-bold">SkyRadar Admin</h3>
                </div>
                <div class="flex flex-col gap-4 mt-10">
                    <div class="flex flex-col">
                        <p class="uppercase text-black/50 font-medium">Airlines</p>
                        <a href="/admin"
                            class="mt-3  p-3 py-2 font-medium rounded-xl border-2 border-transparent flex items-center gap-2">
                            <i class="hgi hgi-stroke hgi-rounded hgi-home-01 text-lg"></i> Overview
                        </a>
                        <a href="/admin/airlines-management"
                            class="mt-3 p-3 py-2 font-medium rounded-xl border-2 border-transparent flex items-center gap-2">
                            <i class="hgi hgi-stroke hgi-rounded hgi-airplane-02 text-lg"></i> Airlines Management
                        </a>
                    </div>
                    <div class="flex flex-col">
                        <p class="uppercase text-black/50 font-medium">Flights</p>
                        <a href="/admin/flights-management"
                            class="mt-3 p-3 py-2 font-medium rounded-xl border-2 border-transparent flex items-center gap-2">
                            <i class="hgi hgi-stroke hgi-rounded hgi-airplane-take-off-01 text-lg"></i> Flights
                            Management
                        </a>
                    </div>
                    <div class="flex flex-col">
                        <p class="uppercase text-black/50 font-medium">Promo Codes</p>
                        <a href="/admin/promocode-management"
                            class="mt-3 bg-white p-3 py-2 font-medium rounded-xl border-2 border-gray-200/80 shadow-sm flex items-center gap-2">
                            <i class="hgi hgi-stroke hgi-rounded hgi-coupon-01 text-lg"></i> Promo Codes
                        </a>
                    </div>
                    <div class="flex flex-col">
                        <p class="uppercase text-black/50 font-medium">Plane Types</p>
                        <a href="/admin/plane-types-management"
                            class="mt-3 p-3 py-2 font-medium rounded-xl border-2 border-transparent flex items-center gap-2">
                            <i class="hgi hgi-stroke hgi-rounded hgi-plane text-lg"></i> Plane Types
                        </a>
                    </div>
            </aside>
            <div class="min-h-screen w-full md:w-[85%]">
                <div class="flex flex-wrap gap-3 justify-between items-center border-b border-[#d3d2d2] p-6">
                    <div class="flex items-center gap-3">
                        <span class="text-black/50 font-medium">Dashboard</span>
                        <span class="text-black/50 font-medium">/</span>
                        <span class="font-medium">Promo Codes</span>
                    </div>
                    <div class="rounded-full p-2 bg-[#4d53ff] text-white">
                        <%= user.firstName.trim().charAt(0) %>
                            <%= user.lastName.trim().charAt(0) %>
                    </div>
                </div>
                <div class="p-4 sm:p-6">
                    <div class="flex items-center gap-2">
                        <a href="/admin/promocode-management"><i
                                class="hgi hgi-stroke hgi-rounded hgi-arrow-left-01"></i></a>
                        <h2 class="text-2xl font-medium">Promo Codes Managment</h2>
                    </div>
                    <form method="post" action="/promocode/<%= promocode._id %>?_method=PUT"
                        class="mt-5 bg-[#f7f7f7] p-5 rounded-xl">
                        <h4 class="mb-4 font-medium">Edit <%= promocode.code %> Promo Code</h4>
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3">
                            <div class="flex flex-col w-full gap-1">
                                <label for="code" class="block text-sm font-medium text-black mb-2">Code</label>
                                <input id="code" value="<%= promocode.code %>" placeholder="SUMMER25" name="code"
                                    type="text"
                                    class="block w-full rounded-md bg-[#fafafa] placeholder:text-black/30 ring-2 ring-[#e9e8e8] focus:ring-[#d3d2d2] px-3 py-2.5 text-black focus:outline-none focus:ring-2 sm:text-sm">
                            </div>
                            <div class="flex flex-col w-full gap-1">
                                <label for="discountPercent"
                                    class="block text-sm font-medium text-black mb-2">Discount %</label>
                                <input id="discountPercent" value="<%= promocode.discountPercent %>"
                                    placeholder="25" name="discountPercent" type="number" min="0" max="100"
                                    class="block w-full rounded-md bg-[#fafafa] placeholder:text-black/30 ring-2 ring-[#e9e8e8] focus:ring-[#d3d2d2] px-3 py-2.5 text-black focus:outline-none focus:ring-2 sm:text-sm">
                            </div>
                            <div class="flex flex-col w-full gap-1">
                                <label for="expiryDate"
                                    class="block text-sm font-medium text-black mb-2">Expiry Date</label>
                                <input id="expiryDate" value="<%= toDateInput(promocode.expiryDate) %>"
                                    name="expiryDate" type="date"
                                    class="block w-full rounded-md bg-[#fafafa] placeholder:text-black/30 ring-2 ring-[#e9e8e8] focus:ring-[#d3d2d2] px-3 py-2.5 text-black focus:outline-none focus:ring-2 sm:text-sm">
                            </div>
                            <div class="flex flex-col w-full gap-1">
                                <label for="usageLimit"
                                    class="block text-sm font-medium text-black mb-2">Usage Limit</label>
                                <input id="usageLimit" value="<%= promocode.usageLimit %>" placeholder="100"
                                    name="usageLimit" type="number" min="0"
                                    class="block w-full rounded-md bg-[#fafafa] placeholder:text-black/30 ring-2 ring-[#e9e8e8] focus:ring-[#d3d2d2] px-3 py-2.5 text-black focus:outline-none focus:ring-2 sm:text-sm">
                            </div>
                        </div>
                        <div class="mt-5 flex w-full justify-end">
                            <button type="submit"
                                class="w-full rounded-md bg-indigo-500 px-3 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-[#0B0F1A] transition-colors">
                                Save Changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
</body>

</html>
